<div class="container text-center mt-5">
  <div class="header mb-5">
    <img src="./assets/imgs/rick.png" alt="Rick y Morty Logo" class="header-logo">
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-4">
      <div class="input-group search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="searchCharacters()" class="form-control search-bar" placeholder="Troba un personatge">
        <button class="btn btn-search" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
      <h2 class="section-title me-3">Lista de personatges</h2>
      <hr class="title-divider flex-grow-1">
    </div>

    <div class="row mt-3">
      @for(character of characters; track character.id){
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-3">
        <div class="card character-card shadow">
          <div class="card-img-wrapper">
            <img [src]="character.image" class="card-img-top rounded-circle character-img" alt="{{ character.name }}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ character.name }}</h5>
            <p class="card-text">
              <i class="fas fa-circle text-info"></i> {{ character.species }}
            </p>
            <p class="card-text">{{ character.location.name }}</p>
          </div>
        </div>
      </div>
    }
    </div>
  </div>
</div>
